.vagrant
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
Gemfile.lock
gems.locked
bin/*
.bundle/*

# test kitchen
.kitchen/
kitchen.local.yml

# Chef
Berksfile.lock
.zero-knife.rb
Policyfile.lock.json
/cookbooks

# chef-provisioner (multi-node suite)
test/chef-config/*.pem
test/chef-config/local-mode-cache/
clients/*
nodes/*

# kitchen-terraform
.terraform/
terraform.*
.terraform.lock.hcl

# kitchen run logs
*.log
